* {
  box-sizing: border-box;
}

.burgerInfo {
  max-width: 1200px;
  min-width: 800px;
  margin: 100px auto;
  border: 1px solid #000;
  font-size: 0;
}

.col {
  vertical-align: top;
  text-align: center;
  font-size: 16px;
  width: 50%;
  display: inline-block;
  padding: 15px;
  border: 1px solid #000;
  border-bottom: none;
}
.col-1 {
   margin-left: -340px;
}
button {
    cursor: pointer;
}